<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mipro TrainGraph Application</title>
    <link rel="stylesheet" href="css/main.css">
    <script type="module" src="/scripts/main.js"></script>
    <script type="module" src="/scripts/helpers.js"></script>
    <script type="module" src="/scripts/grid.js"></script>
    <script type="module" src="/scripts/lines.js"></script>
    <script type="module" src="/scripts/data.js"></script>

</head>

<body>
    <div id="button-container">
        <button id="flip-grid-button">Flip Grid</button>
        <button id="source-code-button"
            onclick="window.open('https://github.com/realr3fo/mipro-traingraph', '_blank')">Source Code</button>
        <button id="about-mipro-button" onclick="window.open('https://mipro.fi/en/about-us/', '_blank')">About
            Mipro</button>
    </div>
    <div id="description-container">
        <p>Traingraph with trains running currently between Helsinki and Leppävaara stations</p>
    </div>
    <div id="graphical-container">
        <div id="svg-wrapper">
            <svg id="graphical-main" xmlns="http://www.w3.org/2000/svg">
            </svg>
        </div>
    </div>
</body>

</html>